header {
  background-color: #fff;
  width: 100%;
  min-height: 65px;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

/* NAV */
header nav {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

/* LOGO */
header nav .navlogo img {
  width: 200px;
}

/* LEFT */
header nav .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* RIGHT */
header nav .right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

/* NAV BUTTON */
header nav .right .nav_btn a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  margin-right: 2px;
  border-radius: 2px;
  padding: 8px;
}

/* HAMBURGER */
header nav .right .hamburgur {
  display: none;
}

/* PROFILE */
header nav .right .profile .profile_img {
  width: 50px;
}

/* ================= DROPDOWN ================= */

.dropdown-menu {
  z-index: 9999 !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown_btn {
  background: none !important;
  border: none !important;
  color: blue;
  font-size: 20px;
}

/* ================= MOBILE ================= */

@media (max-width: 992px) {

  header nav {
    overflow: visible;
    padding-top: 20px;
  }

  /* DROPDOWN FIX */
  .dropdown {
    position: static !important;
  }

  .dropdown-menu {
    position: absolute !important;
    top: 38px !important;
    right: 20px !important;
    left: 38px !important;
    max-width: 240px;
    z-index: 99999 !important;
  }

  header nav .right .nav_btn,
  header nav .right .profile,
  header nav .right .cartsicon {
    display: none;
  }

  header nav .right .hamburgur {
    cursor: pointer;
    font-size: 25px;
    padding-top: 4px;
    display: block !important;
  }

  header nav .right .cart_btn {
    margin-right: 0;
  }
}

@media (max-width: 568px) {
  header nav {
    padding: 10px;
  }

  header nav .navlogo img {
    width: 95px;
    margin-top: 14px;
  }
}

/* ================= CART ================= */

#ex4 .p1[data-count]::after {
  position: absolute;
  right: 10%;
  top: 8%;
  content: attr(data-count);
  font-size: 40%;
  padding: 0.2em;
  border-radius: 50%;
  line-height: 1em;
  color: white;
  background-color: red;
  text-align: center;
  min-width: 21px;
}

#ex4 .fa-stack {
  width: 1.5em;
}

/* header {
  background-color: #fff;
  width: 100%;
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header nav {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

header nav .navlogo img {
  width: 200px;
}

header nav .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav .right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

header nav .right .nav_btn a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  margin-right: 2px;
  border-radius: 2px;
  padding: 8px;
}

header nav .right .hamburgur {
  display: none;
}

header nav .right .profile .profile_img {
  width: 50px;
}

.dropdown-menu {
  z-index: 9999 !important;
}

@media (max-width: 992px) {
  .dropdown-menu {
    right: 0 !important;
    left: auto !important;
    position: absolute !important;
  }
}


@media (max-width: 800px) {
  header nav {
    overflow: visible;
    padding-top: 20px;
  }

  header nav .right .nav_btn,
  header nav .right .profile,
  header nav .right .cartsicon {
    display: none;
  }

  header nav .right .hamburgur {
    cursor: pointer;
    font-size: 25px;
    padding-top: 4px;
    display: block !important;
  }

  header nav .right .cart_btn {
    margin-right: 0;
  }
}

@media (max-width: 568px) {
  header nav {
    padding: 10px;
  }

  header nav .navlogo img {
    width: 95px;
    margin-top: 14px;
  }
}


#ex4 .p1[data-count]::after {
  position: absolute;
  right: 10%;
  top: 8%;
  content: attr(data-count);
  font-size: 40%;
  padding: 0.2em;
  border-radius: 50%;
  line-height: 1em;
  color: white;
  background-color: red;
  text-align: center;
  min-width: 21px;
}

#ex4 .fa-stack {
  width: 1.5em;
}


.dropdown_btn {
  background: none !important;
  border: none !important;
  color: blue;
  font-size: 20px;
}

.dropdown-toggle::after {
  display: none;
} */